<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form th:action="@{/}" method="post" >
            <fieldset>
                <input id="actionType" class="form-control" type="hidden"  th:value="withdraw" th:name="actionType">
                <div class="form-group">
                    <label for="withdrawSum">Type the sum you want to withdraw:</label>
                    <input id="withdrawSum" class="form-control" type="text"  placeholder="0.00" th:name="param1">
                </div>

                <div class="form-group float-right">
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Withdraw">
                </div>
            </fieldset>
        </form>

        <div th:switch="${session.messageWithdraw}">
            <div th:case="'Success'" class="alert alert-success">
                <strong>Success!</strong> Transaction performed successfully.
            </div>
            <div th:case="'Exceed'" class="alert alert-danger">
                <strong>Failure!</strong> This sum exceeds your balance
            </div>
            <div th:case="'Failed'" class="alert alert-danger">
                <strong>Failure!</strong> Please write a valid sum
            </div>
            <div th:case="'Empty'" class="alert alert-danger">
                <strong>Failure!</strong> The sum field is empty
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form th:action="@{/}" method="post" >
            <input id="actionType3" class="form-control" type="hidden"  th:value="menu" th:name="actionType">
            <input class="btn btn-warning " type="submit" value="BACK TO THE MENU">
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
</body>
</html>